__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.db

venv/
env/
ENV/
.venv/

.idea/
.vscode/

.DS_Store

.log

.so
.dylib

faces/*.jpg
faces/*.png
faces/*.pkl
faces/*.json

*.sqlite3
*.ipynb_checkpoints